body{
    margin: 0;
    padding-bottom: 150px;
}
.header{
    display: flex;
    height: 55px;
    background-color:  	#131E3A;
    flex-direction: row;
    background-color: 	#131E3A;
    
    justify-content: space-between;
    border-color: white;
    border-width: 2px;
}
.image{

    width: 40px;
    height: 40px;
    display: block;
    margin-top: 7px;
    margin-left: 10px;
}

.logo{
    margin-top: 18px;
}
.logoText{
    font-weight: bolder;
    text-decoration: none;
    width: 170px;
    color: aliceblue;
    padding: 15px;
    padding-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 15px;
}
.search{
    flex: 1;
    background-color: 	#131E3A;  
}

.left{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    padding: 18px;
}